<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auth P</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CRUD</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Dashboard/Display">Dashboard</a></li>
               @* @if(User.IsInRole("admin"))
                {
                    <li><a href="/Admin/Display">Admin Page</a></li>
                } *@
                @if(User.IsInRole("admin"))
                {
                    <li><a href="/Transactions/Index">Admin Page</a></li>
                }
                <li><a href="/UserAuthentication/Logout">Logout</a></li>
            </ul>
        </div>

    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>

@*    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
